html {
    background-color: #091626; 
}

body {
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

/*
.img_wrapper img{
    opacity: 0;
    -webkit-transition: opacity 1150ms;
    -moz-transition: opacity 1150ms;
    -ms-transition: opacity 1150ms;
    transition: opacity 1150ms;
}
*/

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 50%;
}

#linkedin{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#twitter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-media {
    width: 25px;    
}

.social-media:hover {
    -webkit-transition: width 75ms ease-out;
    -moz-transition: width 75ms ease-out;
    -o-transition: width 75ms ease-out;
    transition: width 75ms ease-out;
    width: 28px;
}

.centered-content-logo {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.centered-content-button {
    margin: 0;
    position: absolute;
    top: calc(40% + 190px);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.centered-content-linkedin {
    margin: 0;
    position: absolute;
    top: calc(40% + 245px);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.centered-content-twitter {
    margin: 0;
    position: absolute;
    top: calc(40% + 245px);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.text {
    color: #ffffff;
	font-family: Futura, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: lowercase;
    letter-spacing: .2em;
}

.button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    display: block;
    padding-top: 1em;
    padding-right: 1.24em;
    padding-bottom: 1em;
    padding-left: 1.24em;
}

.highlightonfocus:hover {
    -webkit-transition: background-color 200ms ease-out;
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
}

.inverted {
	filter: invert(100%);
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 24px;
    }
}